* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Logo-mario {
    height: 200px;
    margin-bottom: 30px;
}

.imagem-mario-luigi {
    height: 500px;
}

.button {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.button:hover {
    background-color: blue;
    font-size: 15px;
    transition: 0.25s ease-in-out;
    
}

.caixa-principal {
    width: 40%;
}

p {
    color: white;
}

.titulo-encanadores {
    font-size: 17px;
}

.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

body {
    height: 100vh;
}
.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.link-whatsapp {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;

}
.header img {
    height: 60px;
}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.header a:hover {
    color: #c51111;
    font-size: 26px;
    transition: 0.25s ease-in-out;
}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
}

input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: blue;
}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: blue;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(119deg, rgba(2,0,36,1) 0%, rgba(40,39,49,0.6554271366749824) 35%, rgba(10,10,10,0.48175766888786764) 100%);
    transition: visibility 1s ease-in-out;
}

/* inicial 
    top: 30%;
    left: -300px;

    final
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
*/

/* RESPONSIVIDADE = MEDIA QUERY */

@media(max-width: 1000px) {
   
    .caixa-mae {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }
    .caixa-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .caixa-principal p {
        margin: 5px;
        width: 90vw;
        text-align: justify;
    }
    
    .titulo-encanadores {
        display: flex;
        justify-content: center;
    }
    .imagem-mario-luigi {
            width: 80vw;
            height: auto;
        }
    .header img {
            display: none;
        }
    .header {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .header a {
        font-size: 20px;
        text-decoration: none;
    }
    .header a:hover {
        color: #c51111;
        font-size: 22px;
        transition: 0.25s ease-in-out;}
    }